
<div class="container">
  <div class="row">

    <!-- card 1 melhor jogador geral -->
    <div class="col" style="margin-bottom: 15px;">
      <div class="card" style="width: 18rem;" >
        <center>
          <!-- <img src="../img/1lugar.jpeg" class="card-img-top" alt="..." style="bacs height: 10px; "> -->
          <div class="card-img-top img-1lugar"></div>
          <div class="card-body">
            <h5 id="nome-melhor-geral1" class="card-title"></h5>
            <!-- <a class="btn btn-primary peach-gradient"><i class="fas fa-chart-line"></i></a> -->
            <!-- Collapse buttons -->
            <div>
              <a class="btn btn-primary peach-gradient" data-toggle="collapse" href="#collaps-melhor-geral1" aria-expanded="false" aria-controls="collaps-melhor-geral1">
                <i class="fas fa-chart-pie"></i>
              </a>
            </div>
            <!-- / Collapse buttons -->
  
            <!-- Collapsible element -->
            <div class="collapse" id="collaps-melhor-geral1">
              <div class="mt-3">
                <!-- aqui ficaram os dados como vitoria e bla bla bla -->
                <p>Vitórias</p>
                <p id="solo-melhor-geral1"></p> 
                <p id="duo-melhor-geral1"></p> 
                <p id="squad-melhor-geral1"></p>
              </div>
            </div>
            <!-- / Collapsible element -->
          </div>
        </center>
      </div>
    </div>

      <!-- card 2 melhor jogador geral -->
      <div class="col" style="margin-bottom: 15px;">
        <div class="card" style="width: 18rem;" >
            <center>
              <!-- <img src="../img/1lugar.jpeg" class="card-img-top" alt="..." style="bacs height: 10px; "> -->
              <div class="card-img-top img-2lugar"></div>
              <div class="card-body">
                <h5 id="nome-melhor-geral2" class="card-title">Nome do jogador aqui...</h5>
                <!-- <a class="btn btn-primary peach-gradient"><i class="fas fa-chart-line"></i></a> -->
                <!-- Collapse buttons -->
                <div>
                  <a class="btn btn-primary peach-gradient" data-toggle="collapse" href="#collaps-melhor-geral2" aria-expanded="false" aria-controls="collaps-melhor-geral2">
                    <i class="fas fa-chart-pie"></i>
                  </a>
                </div>
                <!-- / Collapse buttons -->
      
                <!-- Collapsible element -->
                <div class="collapse" id="collaps-melhor-geral2">
                  <div class="mt-3">
                    <!-- aqui ficaram os dados como vitoria e bla bla bla -->
                    <p>Vitórias</p>
                    <p id="solo-melhor-geral2"><i class="fas fa-user"> </i></p> 
                    <p id="duo-melhor-geral2"><i class="fas fa-user-friends"> </i></p> 
                    <p id="squad-melhor-geral2"><i class="fas fa-users"> </i></p>
                  </div>
                </div>
                <!-- / Collapsible element -->
              </div>
            </center>
          </div>
      </div>

        <!-- card 3 melhor jogador geral -->
        <div class="col">
          <div class="card" style="width: 18rem;" >
              <center>
                <!-- <img src="../img/1lugar.jpeg" class="card-img-top" alt="..." style="bacs height: 10px; "> -->
                <div class="card-img-top img-3lugar"></div>
                <div class="card-body">
                  <h5 id="nome-melhor-geral3" class="card-title">Nome do jogador aqui...</h5>
                  <!-- <a class="btn btn-primary peach-gradient"><i class="fas fa-chart-line"></i></a> -->
                  <!-- Collapse buttons -->
                  <div>
                    <a class="btn btn-primary peach-gradient" data-toggle="collapse" href="#collaps-melhor-geral3" aria-expanded="false" aria-controls="collaps-melhor-geral3">
                      <i class="fas fa-chart-pie"></i>
                    </a>
                  </div>
                  <!-- / Collapse buttons -->
        
                  <!-- Collapsible element -->
                  <div class="collapse" id="collaps-melhor-geral3">
                    <div class="mt-3">
                      <!-- aqui ficaram os dados como vitoria e bla bla bla -->
                      <p>Vitórias</p>
                      <p id="solo-melhor-geral3"><i class="fas fa-user"> </i></p> 
                      <p id="duo-melhor-geral3"><i class="fas fa-user-friends"> </i></p> 
                      <p id="squad-melhor-geral3"><i class="fas fa-users"> </i></p>
                    </div>
                  </div>
                  <!-- / Collapsible element -->
                </div>
              </center>
            </div>
        </div>
  </div>
</div>
