<br><br><br><br><br><br>
<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3" style="background-color:#4A545B">© 2019 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> QRSM</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
