<head>
    
</head>
<!-- <link rel="icon" type="image/png" href="https://ostchozen.firebaseapp.com/img/fall.png"/> -->
<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
  <meta name="theme-color" content="#212121">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="#"><center> <b><i style="font-family: 'Permanent Marker', cursive;"> <i class="fab fa-canadian-maple-leaf"></i> OsTchozen <i class="fab fa-canadian-maple-leaf"></i></i></b> </center></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
    aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
    <ul class="navbar-nav mr-auto mt-lg-0">
      <!-- <li id="nav-home" class="nav-item active"> -->
      <li id="nav-home" class="nav-item">
        <a class="nav-link" href="../index.html"> <i class="fas fa-home"></i> Início <span class="sr-only">(current)</span></a>
      </li>
      <!-- <li id="nav-send" class="nav-item">
        <a class="nav-link" href="storage.html">Enviar arquivos</a>
      </li> -->
      <li id="nav-personalizada" class="nav-item" >
        <a class="nav-link" href="../personalizada.html"> <i class="fas fa-user-shield"></i> Sala Personalizada</a>
      </li>
    </ul>
  </div>
</nav>
