<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
<link rel="stylesheet" href="css/styles.css">
<!-- Jumbotron -->
<div class="card card-image" style="background-image: url(https://ostchozen.firebaseapp.com/img/gv.jpg);">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h5 class="h5 orange-text" style="font-family: 'Permanent Marker', cursive;"><i class="fab fa-canadian-maple-leaf"></i> OsTchozen <i class="fab fa-canadian-maple-leaf"></i></h5>
      <!-- <h5 class="h5 orange-text" style="font-family: 'Permanent Marker', cursive;"><i class="fas fa-skull-crossbones"></i> Os Tchozen Guild</h5> -->
      <h2 id="title-personalizada"class="card-title h2 my-4 py-2">
        Sala Personalizada - 10 ª temporada
      </h2>
      <p id="conteudo-personalizada" class="mb-4 pb-2 px-md-5 mx-md-5">
        Tabela de vitórias referentes aos booyah conquistados pelos membros da guilda participantes das salas personalizadas da atual temporada.
      </p>
      <!-- <a class="btn peach-gradient"><i class="far fa-id-card "></i> Torná-se membro</a> -->
    </div>
  </div>
</div>
<!-- Jumbotron -->
<script>
// SAPORRA NOA PEGOU SEI L APQ
  // $(document).ready(function(){
  //   let title = ''+temporada;
  //   $('#temp-sala').text(title);
  // });
</script>
