<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">
<link rel="stylesheet" href="css/styles.css">
<!-- Jumbotron -->
<div class="card card-image" style="background-image: url(https://ostchozen.firebaseapp.com/img/gv.jpg);">
  <div class="text-white text-center rgba-stylish-strong py-5 px-4">
    <div class="py-5">

      <!-- Content -->
      <h5 class="h5 orange-text" style="font-family: 'Permanent Marker', cursive;"><i class="fab fa-canadian-maple-leaf"></i> OsTchozen <i class="fab fa-canadian-maple-leaf"></i></h5>
      <h2 class="card-title h2 my-4 py-2">Sobre a guilda</h2>
      <p class="mb-4 pb-2 px-md-5 mx-md-5">
        Os Tchozen Guild é uma guilda do jogo mobile Battle Royale da <a href="https://ff.garena.com/index_pt.html">Garena</a> FreeFire Battleground fundada pelo líder da guilda  <a href="https://www.facebook.com/profile.php?id=100003822307315&ref=br_rs">Rafael Sousa</a> e os vice-líderes Efraim Nunes, Henrique Nunes e Teo Quaresma.
      </p>
      <!-- <a href="https://chat.whatsapp.com/A2pz7LvT8Ro6nB4DbfckSo" class="btn aqua-gradient"> <i class="fab fa-whatsapp"></i> Entrar no grupo</a> -->
      <!--Youtube-->
      <a href="https://www.youtube.com/channel/UCYLVFyRceGHLeW0Lv0HV5Yg" type="" class="btn danger" style="border-radius: 100px;"><i class="fab fa-youtube"></i></a>
      <a href="https://chat.whatsapp.com/A2pz7LvT8Ro6nB4DbfckSo" type="" class="btn success" style="border-radius: 100px;"><i class="fab fa-whatsapp"></i></a>
      <a href="https://t.me/joinchat/MfrGfEuF1LZRCSHo6K8YEw" type="" class="btn" style="background-color: #34ACE0; border-radius: 100px;"><i class="fab fa-telegram-plane"></i></a>
    </div>
  </div>
</div>
<!-- Jumbotron -->
