/* body {
    display: flex;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */

a{
  color: #FF9800;
}

#corpo{
  background: linear-gradient(to right, #2A343D 0%, #212121 100%);
}

.card-margin{
  margin: 5px;
  border-radius: 10px;
}

.white{
  background-color: white;
}

.gray{
  background: linear-gradient(to right, #73787C 0%, #212121 100%);
}

.green{
  background: linear-gradient(to right, #1EA0F6 0%, #07F6AB 100%);
}

.oranger{
  background: linear-gradient(to right, #FECE6E 0%, #FC6562 100%);
}

.danger{
  background-color:#FF3547;
}

.success{
  background-color:#00C851;
}

.melhores-jogadores {
  width: 100%;
}
.ffbg1 {
  /* The image used */
  background-image: url("../img/ffbg1.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  padding-top: 5%;
  padding-bottom: 2.5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-1lugar {
  /* The image used */
  background-image: url("../img/1lugar.jpeg");

  /* Full height */
  height: 150px;

  /* Center and scale the image nicely */
  padding-top: 15%;
  padding-bottom: 2.5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-2lugar {
  /* The image used */
  background-image: url("../img/2lugar.jpeg");

  /* Full height */
  height: 150px;

  /* Center and scale the image nicely */
  padding-top: 15%;
  padding-bottom: 2.5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img-3lugar {
  /* The image used */
  background-image: url("../img/3lugar.jpeg");

  /* Full height */
  height: 150px;

  /* Center and scale the image nicely */
  padding-top: 15%;
  padding-bottom: 2.5%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}